{% extends "webapp/header.html" %}

{% block content %}
	<label><b>Remove Item from Menu</b></label>
	</br>
	<input type = "text" value ="Item Name" disabled>
	<input type = "text" value ="Item Price" disabled>
	</br>
	</br>
	{% for MenuItem in m1 %}
	<form action="/removeMenuItem" method="POST">
		<input type = "text" name = "itemName" value = '{{ MenuItem.name }}' disabled>
		<input type = "text" name = "itemPrice" value = '{{ MenuItem.price }}' disabled>
		<button type = "submit">
			x
		</button>
		</br>
		{% csrf_token %}
	</form>
	{% endfor %}
	<form action="/addMenuItem" method="POST">
		<button type="submit">Add Menu Item</button>
		{% csrf_token %}
	</form>
{% endblock %}
