{% extends "webapp/header.html" %}

{% block content %}
	<label><b>Remove Item from Menu</b></label>
	</br>
	<b><input type = "text" style="text-align:center;" value ="Item Name" disabled></b>
	<b><input type = "text" style="text-align:center;" value ="Item Price" disabled></b>
	</br>
	</br>
	{% for MenuItem in m1 %}
	<form action="/removeMenuItem" method="POST">
		<input type = "hidden" name = "name" value = '{{ MenuItem.name }}'>
		<input type = "hidden" name = "price" value = '{{ MenuItem.price }}'>
		<input type = "text" value = '{{ MenuItem.name }}' disabled>
		<input type = "text" value = '{{ MenuItem.price }}' disabled>
		<button type = "submit">
			x
		</button>
		</br>
		{% csrf_token %}
	</form>
	{% endfor %}
	<form action="/addMenuItem" method="POST">
		<button type="submit">Add Menu Item</button>
		{% csrf_token %}
	</form>
{% endblock %}
