{% extends "webapp/header.html" %}

{% block content %}

<form action="/loginCheckUser" method="post">

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <h3>Login Failed </h3>
     {% csrf_token %}

  
</form>

<form action="/registerUser" method="post">
    <button type="submit">Register</button>  
    {% csrf_token %}
</form>

{% endblock %}