{% extends "webapp/header.html" %}

{% block content %}
<style type="text/css">
  #Submit_{    
      padding:0;
      border:none;
      background:none;
        }
  #Submit_:focus{
    outline:none;
  }
#place{

position:absolute;
width:500px;
top:100px;
height:100%;
left:400px;

}
#place2{

position:absolute;
width:500px;
top:300px;
height:100%;
left:450px;

}
#bgimage{
    
    background: url(static/my_app/images1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style> 
<body id="bgimage">   
{% if orders %}
<div id="place">
  <table>
  <tr>
  <td align="center"><b><font color="grey" size="5">Order Id</font></b></td>
  <td align="center"><b><font color="grey" size="5">Order Date</font></b></td>
  <td align="center"><b><font color="grey" size="5">Restaurant Name</font></b></td>
  </tr>
  <tr></tr>
  <tr></tr>
  {% for order in orders %}
  <form action="/viewMyOrder" method="POST">
  <tr>
    <input type="hidden" name="id" value='{{ order.id }}'>
    <td  align="center"><button type="submit" id="submit_"><b><font size=10 color="blue">{{ order.id }}</font></b></button></td>
    <td align="center"><b><font color="white">&emsp;&emsp;&emsp;&emsp;{{ order.order_date }}&emsp;&emsp;</font></b></td>
    <td align="center"><b><font color="white">&emsp;&emsp;&emsp;&emsp;{{ order.rname }}&emsp;&emsp;</font></b></td>
    {% csrf_token %}
  </tr>
  <tr></tr>
    </form>
    </table>
  {% endfor %}
</div>
{% else %}
<div id="place2">
  <h1><font color="white">No orders found</font></h1>
  </br>
  {% csrf_token %}
</div>
  {% csrf_token %}
{% endif %}
{% endblock %}