{% extends "webapp/header.html" %}

{% block content %}
<form action="/regSuccessUser" method="post">


    <label><b>Username</b></label>
    </br>

    <input type="text" placeholder="Enter username" name="uname" required>

    <label><b>Name</b></label>
    </br>

    <input type="text" placeholder="Enter name" name="name" required>


    </br>
     </br>

    <label><b>Password</b></label>
    </br>

    <input type="password" placeholder="Enter Password" name="psw" width="50px" required>

    </br>
    </br>

    <label><b>Address</b></label>
    </br>


    <input type="text" placeholder="Enter Address" name="add" required>


    </br>
    </br>

    <label><b>Contact / Mobile</b></label>
    </br>
    <input type="text" placeholder="Enter Contact" name="call"  required>


    </br>
    </br>

    <label><b>Email</b></label>
    </br>
    <input type="text" placeholder="Enter Email" name="mail" required>


    </br>
    </br>


    <button type="submit">Submit</button>

     {% csrf_token %}
</form>

{% endblock %}