{% extends "webapp/header.html" %}

{% block content %}
<form action="/regSuccessRest" method="post">

    <label><b>Username</b></label>
    </br>

    <input type="text" placeholder="Enter username" name="uname" required>

    </br>
    <label><b>Name</b></label>
    </br>

    <input type="text" placeholder="Enter name of restaurant" name="name" required>


    </br>
     </br>

    <label><b>Password</b></label>
    </br>

    <input type="password" placeholder="Enter Password for restaurant" name="psw" width="50px" required>

    </br>
    </br>

    <label><b>Address</b></label>
    </br>


    <input type="text" placeholder="Enter Address for restaurant" name="add" required>


    </br>
    </br>

    <label><b>Contact / Mobile</b></label>
    </br>
    <input type="text" placeholder="Enter Contact for restaurant" name="call"  required>


    </br>
    </br>

    <label><b>Email</b></label>
    </br>
    <input type="text" placeholder="Enter Email for restaurant" name="mail" required>


    </br>
    </br>

    <label><b>Overview</b></label>
    </br>
    <input type="text" placeholder="Overview" name="over" required>

    
    </br>
    </br>


    <button type="submit">Submit</button>

     {% csrf_token %}
</form>

{% endblock %}