{% extends "webapp/header.html" %}

{% block content %}

<form action="/search" method="post">
	<h1>WELCOME!!</h1>
	<input type="text" placeholder="search here" name="q" required>
  	</br>
    <button type="submit">Search</button>
     {% csrf_token %}

</form>

<form action="/myOrders" method="post">
    <button type="submit">View your Current Orders</button>
    {% csrf_token %}
</form>

<form action="/myPreviousOrders" method="post">
    <button type="submit">View your Previous Orders</button>
    {% csrf_token %}
</form>


{% endblock %}