static/my_app/{% extends "webapp/header.html" %}

{% block content %}
<style type="text/css">
#bgimage{
        
        background: url(static/my_app/images.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
#place{
	position:absolute;
	top:200px;
	height:100px;
	left:250px;

}
#place5{
    position:absolute;
    top:200px;
    height:100%;
    left:700px;

}
#place2{
    position:absolute;
    top:30px;
    height:500px;
    left:840px;

}
#place3{
    position:absolute;
    top:30px;
    height:500px;
    left:970px;

}
#place4{
    position:absolute;
    top:30px;
    height:500px;
    left:1100px;

}
  #Submit_3{
        
      padding:0;
      border:none;
      background:none;
        }
  #Submit_3:focus{
    outline:none;
  }
#Submit_{
        width:100px;
        height:30px;
        padding-bottom:5px;
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        -moz-border-radius: 5px;
       -khtml-border-radius: 5px;
       -webkit-border-radius: 5px;
        text-shadow:0 -1px 0 rgba(0,0,0,0.15);
        background-color:#60b044;
        background-image:-webkit-linear-gradient(#8add6d, #60b044);
        background-image:linear-gradient(#8add6d, #60b044);
        border-color:#5ca941;
        }        
#Submit_:hover{
        color:#fff;
        background-color:#569e3d;
        background-image:-webkit-linear-gradient(#79d858, #569e3d);
        background-image:linear-gradient(#79d858, #569e3d);
        border-color:#4a993e;
                }
#Submit_2{
        width:100px;
        height:40px;
        padding-bottom:5px;
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
        text-align:center;
        color:#fff;
        -moz-border-radius: 5px;
       -khtml-border-radius: 5px;
       -webkit-border-radius: 5px;
        text-shadow:0 -1px 0 rgba(0,0,0,0.15);
        background-color:#60b044;
        background-image:-webkit-linear-gradient(#8add6d, #60b044);
        background-image:linear-gradient(#8add6d, #60b044);
        border-color:#5ca941;
        }        
#Submit_2:hover{
        color:#fff;
        background-color:#569e3d;
        background-image:-webkit-linear-gradient(#79d858, #569e3d);
        background-image:linear-gradient(#79d858, #569e3d);
        border-color:#4a993e;
                }
#button_{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#search_{
    background-color: white; /* Green */
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -moz-border-radius: 5px;
       -khtml-border-radius: 5px;
       -webkit-border-radius: 5px;
        text-shadow:0 -1px 0 rgba(0,0,0,0.15);
   
       
        
}

</style>
<body id="bgimage">
<form action="/search" method="post">
	<div id="place">
	<h1><font color="blue" size="10">WELCOME!!</font></h1>
	&emsp;&emsp;&emsp;<input type="text" placeholder="search here" name="q" id="search_" required>
  	</br>
  	</br>
    </br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button type="submit" id="submit_"><b>Search</b></button>
     {% csrf_token %}
    </div>
</form>
<div id="place5">
<h1><font color="yellow" size="10">&emsp;Favorites</font></h1>
<table>
  {% for result in favorites %}
  <form action="/order" method="POST">
  <tr>
    <input type="hidden" name="rname" value='{{ result.uname }}'>
    <td align="center"><button type="submit" id="submit_3"><font color="blue" size="5"><b>{{ result.name }}</b></font></button></td>
    <td align="center"><font color="white" size="3"><b>&emsp;{{ result.address }}&emsp;</b></font></td>
    <td align="center"><font color="white" size="3"><b>&emsp;{{ result.email }}&emsp;</b></font></td>
    {% csrf_token %}
  </tr>
  <tr>
  </tr>
  <tr>
  </tr><tr>
  </tr><tr>
  </tr>
    </form>
  {% endfor %}
  </table>
 </div>

<div id="place2">
<form action="/myOrders" method="post">
    <button type="submit" id="submit_2"><b>Current Orders</b><b></button>
    {% csrf_token %}
</form>
</div>
<div id="place3">
<form action="/myPreviousOrders" method="post">
    <button type="submit" id="submit_2"><b>Previous Orders</b></button>
    {% csrf_token %}
</form>
</div>
<div id="place4">
<form action="/logout" method="post">
    <button type="submit" id="submit_2"><b>Logout</b></button>
    {% csrf_token %}
</form>
</div>
</body>

{% endblock %}