{% extends "webapp/header.html" %}

{% block content %}
	<label><b>Remove Item from Menu</b></label>
	{% for MenuItem in Menu %}
	<form action="/removeMenuItem" method="POST">
		<input type = "text" name = "MenuId" value=MenuItem.MenuId disabled>
		<input type = "text" name = "ItemName" value=MenuItem.ItemName disabled>
		<input type = "text" name = "ItemPrice" value=MenuItem.ItemPrice disabled>
		<button type = "submit">x</button>
		</br>
		</br>
	</form>
	{% endfor %}
	<form actoin="/addMenuItem" method="POST">
		<button type="submit" name="Add Menu Item"></button>
	</form>
{% endblock %}
