{% extends "webapp/header.html" %}

{% block content %}

<style type="text/css">
#form1{
		position:absolute;
		width:350px;
		top:90px;
		left:100px;
	  }			

#form3{
		position:absolute;
		width:350px;
		top:90px;
		left:500px;
	  }	

#form4{
		position:absolute;
		width:350px;
		top:180px;
		left:500px;
	  }	

#form2{
		position:absolute;
		width:350px;
		top:180px;
		left:100px;
	  }		
</style>	

</head>
<body bgcolor="#F8F8F8">
<div id="form1">
<form action="/editRestDetails" method="post">
<button type="submit">Edit Details</button>  
    {% csrf_token %}
</form>
</div>

<div id="form2">
<form action="/editMenu" method="post">
<button type="submit">Edit Menu</button>  
    {% csrf_token %}
</form>
</div>

<div id="form3">
<form action="/getCurrentOrders" method="post">
<button type="submit">Current Orders</button>  
    {% csrf_token %}
</form>
</div>

<div id="form4">
<form action="/getPreviousOrders" method="post">
<button type="submit">Previous Orders</button>  
    {% csrf_token %}
</form>
</div>
{% endblock %}